@model List<Vuokraamo.Models.Cart>

@{ ViewData["Title"] = "Cart";}


<h2>Ostoskori</h2>

<form method="get">
    <div>
        <table width="100%" , border="1">
            <tr>               
                <th>Tuotenimi</th>
                <th>Hinta</th>
                <th>TuoteId</th>
                <th>AsiakasId</th>
            </tr>

            @foreach (var a in Model)
            {
                <tr>                   
                    <td>@a.ProductName</td>
                    <td>@a.ProductPrice</td>
                    <td>@a.ProductId</td>
                    <td>@a.CustomerId</td>
                    <td>@Html.ActionLink("Poista", "poista", new {Id = a.CartId })</td>
                </tr>
            }
        </table>
        @Html.ActionLink("Vuokraa", "osta", "rental")

    </div>
</form>