@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

@{string isUser = HttpContextAccessor.HttpContext.Session.GetString("ckey");}
@{string isAdmin = HttpContextAccessor.HttpContext.Session.GetString("key");}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vuokraamo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylesj.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vuokraamo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Etusivu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductList">Tuotteet</a>
                        </li>
                        <li>
                            @{if (isUser == "customer")
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">Log out</a>

                                    <div style="position:absolute; right:200px; top:20px; ">
                                        <a> @Html.ActionLink(@HttpContextAccessor.HttpContext.Session.GetString("cname"), "asiakas", "user")</a>
                                    </div> 
                                    <div style="position:absolute; right:300px; top:10px; ">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Ostoskori">Ostoskori</a>
                                        </div>

                                  
                                        
                                        }
                                        else if (isAdmin == "admin")
                                        {

                                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">Log out</a>

                                        <a>  @HttpContextAccessor.HttpContext.Session.GetString("key")</a>

                                        }
                                        else
                                        {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserLogin">Kirjaudu sisään</a>

                                        }
                                        }
</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container"  style="position:absolute; left:10px; bottom:10px; ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="AdminLogin">Admin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
