@model Vuokraamo.Models.Customer

<h1 style="text-align:center">Omat tiedot</h1>
<br/>
<div class="col-md-5">
    <button>@Html.ActionLink("Omat tiedot", "AsiakasTiedot")</button>

</div>
<br/>
<div class="col-md-5">
    <button>@Html.ActionLink("Vuokraustiedot", "VuokrausTiedot", "Rental") </button>
</div>
<br/>
<div class="col-md-5">
    <button> @Html.ActionLink("Laskuni", "Laskut")</button>
</div>
<br/>
<div class="col-md-5">
    <button>@Html.ActionLink("Kirjaudu ulos", "LogOut", "Login") </button>
</div>
<br/>
<div class=" = col-md-5">
    <button>@Html.ActionLink("Palaute", "index", "message")</button>
</div>
