@model List<Invoice>
<h1>Laskut</h1><br />
               <div class="container">
                   @foreach (var lasku in Model)
                   {
                       if ((bool)!lasku.Paid)
                       {

                           <div>
                               <div>
                                   <br />
                                   <p style="font-size:24px">Lasku numero: @lasku.InvoiceId</p>
                                   <p>Eräpäivä: @lasku.DueDate.ToShortDateString()</p>
                                   <p>Maksettava summa: <b>@lasku.TotalDue €</b></p>
                                   <button class="maksunappi">@Html.ActionLink("Maksa", "Maksa", new { Id = lasku.InvoiceId })</button>
                                   <br />
                               </div>
                           </div>
                       }
                       
                       else
                       {
                           <div>
                               <div>
                                   <br />
                                   <p style="font-size:24px">Lasku numero: @lasku.InvoiceId</p>
                                   <p>Eräpäivä: MAKSETTU</p>
                                   <p>Maksettu summa: <b>@lasku.TotalDue €</b></p>

                               </div>
                           </div>
                       }

                   }
               </div>