@model List<Invoice>
@foreach (var lasku in Model)
{
    if ((bool)!lasku.Paid)
    {
        <p>Laskun numero:</p>@lasku.InvoiceId
        <p>Eräpäivä:</p>@lasku.DueDate
        <p>Maksettava summa:</p>@lasku.TotalDue
        @Html.ActionLink("Maksa:", "Maksa", new {Id = lasku.InvoiceId })
    }
    else
    {
        <p>Laskun numero:</p>@lasku.InvoiceId
        <p>Eräpäivä: MAKSETTU</p>
        <p>Maksettu summa:</p>@lasku.TotalDue
    }

}