@model List<Rental>

@foreach (var i in Model)
{
    <ul>
        <li>@i.ProductId</li>
        <li>@i.Product.Name</li>
        <li>@i.Price</li>
        <li>@i.Rentaldate.ToShortDateString()</li>
        <li>@i.Returndate.ToShortDateString()</li>
    </ul>
}